{
    "Port": 9117,
    "AllowExternal": true,
    "APIKey": "0nkmwcabacf2e5dh5dsnzznbl3c45058",
    "AdminPassword": null,
    "InstanceId": "{{jackett_instance_id}}",
    "BlackholeDir": null,
    "UpdateDisabled": false,
    "UpdatePrerelease": false,
    "BasePathOverride": "/jackett",
    "CacheEnabled": true,
    "CacheTtl": 2100,
    "CacheMaxResultsPerIndexer": 1000,
    "FlareSolverrUrl": null,
    "OmdbApiKey": null,
    "OmdbApiUrl": null,
    "ProxyType": 0,
    "ProxyUrl": null,
    "ProxyPort": null,
    "ProxyUsername": null,
    "ProxyPassword": null,
    "ProxyIsAnonymous": true
}
