{%- filter indent(width=0) -%}
  {% if vpn_type == 'openvpn' %}
{%- include 'docker-compose-fragment-vpn-type-openvpn.yml.j2' -%}
  {% elif vpn_type == 'nordlynx' %}
{%- include 'docker-compose-fragment-vpn-type-nordlynx.yml.j2' -%}
  {% endif %}
{%- endfilter -%}
{% if transmission_enable == true %}

transmission:
  image: ghcr.io/linuxserver/transmission
  container_name: {{ transmission_container_name }}
  environment:
    - PUID={{ server_data_user_uid }}
    - PGID={{ server_data_group_gid }}
    - TZ={{ server_timezone}}
  volumes:
    - {{ transmission_config_path }}:/config
    - {{ transmission_download_path }}:/downloads
    - {{ transmission_additional_config_path }}/scripts:/scripts
  healthcheck:
    test: ["CMD-SHELL", "( curl -s https://api.nordvpn.com/vpn/check/full | grep 'Protected' && curl -s -X GET -I http://localhost:9091/transmission/web/ | grep '200 OK' ) || exit 1"]
    interval: 30s
    timeout: 10s
    retries: 3
    start_period: 2m
  restart: always
  network_mode: service:vpn
  depends_on:
    vpn:
      condition: service_healthy
{% endif %}
{% if qbittorrent_enable == true %}
qbittorrent:
  image: lscr.io/linuxserver/qbittorrent
  container_name: {{ qbittorrent_container_name }}
  environment:
    - PUID={{ server_data_user_uid }}
    - PGID={{ server_data_group_gid }}
    - TZ={{ server_timezone}}
    - WEBUI_PORT=8080
  volumes:
    - {{ qbittorrent_config_path }}:/config
    - {{ qbittorrent_download_path }}:/downloads
  healthcheck:
    test: ["CMD-SHELL", "( curl -s https://api.nordvpn.com/vpn/check/full | grep 'Protected' && curl -s -X GET -I  http://localhost:8080 | grep '200 OK' ) || exit 1"]
    interval: 30s
    timeout: 10s
    retries: 3
    start_period: 2m
  restart: always
  network_mode: service:vpn
  depends_on:
    vpn:
      condition: service_healthy
{% endif %}