version: "3.8"

services:
  dockhand-hawser:
    image: ghcr.io/finsys/hawser:latest
    container_name: dockhand-hawser
    environment:
      - DOCKHAND_SERVER_URL={{ dockhand_server_url }}
      - TOKEN={{ dockhand_server_token }}
      - AGENT_NAME={{ dockhand_agent_name }}
      - SKIP_DF_COLLECTION=false
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - {{ dockhand_hawser_config_path }}:/data/stacks
    networks:
      - media_server_network
    restart: always
  autoheal:
    container_name: autoheal
    environment:
      AUTOHEAL_CONTAINER_LABEL: all
    image: willfarrell/autoheal:latest
    restart: always
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /var/run/docker.sock:/var/run/docker.sock
networks:
  media_server_network:
    external:
      name: {{ docker_bridge_network_name }}