version: "3.8"

services:
  autoheal:
    image: willfarrell/autoheal
    container_name: autoheal
    networks:
      - media_server_network
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /etc/localtime:/etc/localtime:ro
    restart: always
    environment:
      - AUTOHEAL_INTERVAL=30
      - CURL_TIMEOUT=30
      - AUTOHEAL_CONTAINER_LABEL=all
  dockhand-hawser:
    image: fnsys/hawser:latest
    container_name: dockhand-hawser
    environment:
      - DOCKHAND_SERVER_URL={{ dockhand_server_url }}
      - TOKEN={{ dockhand_server_token }}
      - AGENT_NAME={{ dockhand_agent_name }}
      - SKIP_DF_COLLECTION=false
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - {{ dockhand_hawser_config_path }}:/data/stacks
    networks:
      - media_server_network
    restart: always
networks:
  media_server_network:
    external:
      name: {{ docker_bridge_network_name }}