version: "3.8"

services:
  autoheal:
    image: willfarrell/autoheal
    container_name: autoheal
    networks:
      - media_server_network
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /etc/localtime:/etc/localtime:ro
    restart: unless-stopped
    environment:
      - AUTOHEAL_INTERVAL=30
      - CURL_TIMEOUT=30
      - AUTOHEAL_CONTAINER_LABEL=all
  watchtower:
    image: containrrr/watchtower
    container_name: watchtower
    networks:
      - media_server_network
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /etc/localtime:/etc/localtime:ro
    environment:
     - WATCHTOWER_INCLUDE_RESTARTING=true
     - WATCHTOWER_SCHEDULE=00 58 9 * * *
     - WATCHTOWER_CLEANUP=true
  portainer:
    image: portainer/portainer-ce
    container_name: portainer
    networks:
      - media_server_network
    command: -H unix:///var/run/docker.sock
    restart: unless-stopped
    ports:
      - 8005:8000
      - 9005:9000
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - {{ portainer_config_path }}:/data

networks:
  media_server_network:
    external:
      name: {{ docker_bridge_network_name }}