services:
  npm:
    container_name: npm
    image: 'jc21/nginx-proxy-manager:latest'
    restart: unless-stopped
    ports:
      - '80:80'
      - '443:443'
      - '81:81'
    environment:
      - DB_POSTGRES_HOST=npm_db
      - DB_POSTGRES_PORT=5432
      - DB_POSTGRES_USER={{ database_username }}
      - DB_POSTGRES_PASSWORD={{ database_password }}
      - DB_POSTGRES_NAME=npm
      - PUID={{ server_data_user_uid }}
      - PGID={{ server_data_group_gid }}
      - TZ={{ server_timezone }}
    volumes:
      - {{ nginx_proxy_manager_config_path }}:/data
      - {{ nginx_proxy_manager_lets_encrypt_path }}:/etc/letsencrypt
    depends_on:
      - npm_db
    networks:
      - media_server_network
    healthcheck:
      test: ["CMD", "/usr/bin/check-health"]
      interval: 30s
      timeout: 5s
      retries: 3
      start_period: 30s
  npm_db:
    container_name: postgres
    image: postgres:17.5-trixie
    user: "{{ server_data_user_uid }}:{{ server_data_group_gid }}"
    restart: unless-stopped
    environment:
      - PUID={{ server_data_user_uid }}
      - PGID={{ server_data_group_gid }}
      - TZ={{ server_timezone }}
      - POSTGRES_USER={{ database_username }}
      - POSTGRES_PASSWORD={{ database_password }}
      - POSTGRES_DB=npm
    volumes:
      - {{ nginx_proxy_manager_database_path }}:/var/lib/postgresql/data
    networks:
      - media_server_network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U {{ database_username }} -d npm"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s
  homepage:
    image: ghcr.io/gethomepage/homepage:latest
    container_name: homepage
    environment:
      - HOMEPAGE_ALLOWED_HOSTS=media-server.home
      - PUID={{ server_data_user_uid }}
      - PGID={{ server_data_group_gid }}
    ports:
      - 3000:3000
    volumes:
      - {{ homepage_config_path_local }}/background:/app/public/background
      - {{ homepage_config_path_local }}:/app/config
      - /var/run/docker.sock:/var/run/docker.sock:ro
    restart: unless-stopped
    networks:
      - media_server_network

networks:
  media_server_network:
    external:
      name: {{ docker_bridge_network_name }}