version: "3.8"

services:
  app:
    image: louislam/uptime-kuma
    container_name: uptime-kuma
    networks:
      - media_server_network
    environment:
          PUID: {{ server_data_dir_uid }}
          PGID: {{ server_data_dir_gid }}
    volumes:
      - {{ uptime_kuma_config_path }}:/app/data
    ports:
      - 3001:3001
    restart: unless-stopped

networks:
  media_server_network:
    external:
      name: {{ docker_bridge_network_name }}