version: "3.8"

services:
  app:
    image: louislam/uptime-kuma
    container_name: uptime-kuma
    networks:
      - media_server_network
    environment:
          PUID: {{ server_data_dir_uid }}
          PGID: {{ server_data_dir_gid }}
    volumes:
      - {{ uptime_kuma_config_path }}:/app/data
    ports:
      - 3001:3001
    restart: always

  dozzle:
    image: amir20/dozzle:latest
    container_name: dozzle
    networks:
      - media_server_network
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    ports:
      - 9999:8080
    restart: always

networks:
  media_server_network:
    external:
      name: {{ docker_bridge_network_name }}